# Default ignored files
/shelf/
/.gitignore.txt
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\KDS\Desktop\Android Developer\Algorithms\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
